<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/file1.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<link rel="stylesheet" type="text/css" href="../static/css/admin.css">
	<title>Login</title>
</head>
<body>
	
	<div class="loginPage">
		<!-- <header>
			<h1>Abc <span>Sports</span></h1>
			
		</header> -->
		<div class="container">
			<div class="reg-txt">
				<h3 id="login-title">Login</h3>
			</div>
			
			<div class="admin-form" id="admin-form">
				<div class="ad-login" id="ad-login">
					<form method="post" action="/admin_validation">
						<label>Name</label>
						<input type="text" name="ausername" required>
						<label>Password</label>
						<input type="password" name="apassword" required>
						<input type="submit" name="submit1" class="btn" id="btn">
					</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<h3>&copy Developed by Ashish Nair</h3>
		</div>
	</div>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>